server:
  port: 8080

spring:
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:h2:mem:chatdb
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3
#
#  ai:
#    openai:
#      api-key: "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"

